= form_for @forum do |f|
  -if @forum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@forum.errors.count, "error")} prohibited this forum from being saved:"
      %ul
        - @forum.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :position
    = f.number_field :position
  .field
    = f.label :topics_count
    = f.number_field :topics_count
  .field
    = f.label :posts_count
    = f.number_field :posts_count
  .actions
    = f.submit 'Save'
