%p#notice= notice

%p
  %b Name:
  = @forum.name
%p
  %b Description:
  = @forum.description
%p
  %b Position:
  = @forum.position
%p
  %b Topics count:
  = @forum.topics_count
%p
  %b Posts count:
  = @forum.posts_count

= link_to 'Edit', edit_forum_path(@forum)
\|
= link_to 'Back', forums_path
