%p#notice= notice

%p
  %b Login:
  = @user.login
%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password
%p
  %b Admin:
  = @user.admin
%p
  %b Posts count:
  = @user.posts_count

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
